#map {
  height: 100%;
  width: 100%;
}

#maps-section {
  height: 50vh;
  padding-bottom: 40px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  #explainer-card {
    color: red;
    margin-right: 0px !important;
    margin-bottom: 5vh;
  }
}
