#map {
  height: 100%;
  width: 100%;
}

#maps-section {
  height: 50vh;
  padding-bottom: 40px;
}

.navbar,
.navbar-brand {
  float: right;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #explainer-card {
    margin-right: 0px !important;
    margin-bottom: 5vh;
  }
}

@media only screen and (max-width: 550px) {
  .navbar,
  .navbar-brand {
    float: none;
    margin-left: auto;
  }
  .navbar-brand {
    justify-content: center;
    width: 100%;
  }
  .subtitle {
    text-align: center;
  }
}

.marker {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.visited-marker {
  background-image: url("../images/visitedred.png");
  background-size: cover;
}

.travel-marker {
  background-image: url("../images/travelT.png");
  background-size: cover;
}
/* Map Toolbox Buttons */
button {
  padding: 1px 1px;
}

.color-toggle {
  background-color: #50d1e8;
  color: white;
  height: 30px;
  width: 30px;
}

.color-toggle img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.color-toggle.active {
  background-color: #f595e2;
  color: rgb(11, 0, 0);
}

/* Airport buttons */

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.airport-button {
  background-color: #f0590785;
  margin: 12px;
  width: 110px;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* pop ups for the pins */
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.location-button {
  background-image: url("../images/travelT.png");
  background-size: contain;
}

.visited-button {
  background-image: url("../images/visitedT.png");
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 7px;
}

.travel-container,
.visited-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  margin-right: 10px;
  border-radius: 7px;
  box-shadow: rgb(26, 92, 112) 10px 5px 5px;
}

.button-1,
.button-2 {
  padding: 10px;
  background-color: transparent;
  color: rgb(34, 33, 33);
  border: 2px solid rgb(192, 190, 190);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  box-shadow: rgb(26, 92, 112) 10px 5px 5px;
}

.button-1:hover {
  background-color: white;
  color: #4caf50;
}
.button-2:hover {
  background-color: white;
  color: #4caf50;
}

.mt-5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem;
}

footer img {
  height: 2em;
  width: 2em;
}

#travel-tracker {
  font-family: "Rubik Moonrocks", cursive;
}

#date-time {
  font-family: "DM Mono", monospace;
}

.navbar-item {
  font-family: "DM Mono", monospace;
  border-radius: 7px;
  border: 2px solid white;
  box-shadow: 5px 5px 5px;
}

.card-header-title {
  font-family: "Audiowide", cursive;
}

#content-card {
  font-family: "Spectral", serif;
}
